{% extends "base.html" %}
{% block content %}

<div class="container mt-3 text-center">
    <h1 class="pg-title">Activities</h1>
    <a class="btn add-btn btn-primary" href="{{ url_for('activitie') }}">Add Activity</a>
    <div class="row mt-3 justify-content-center">        
        {% for activity in activities|sort(attribute="activity.occasion") % %}
        <div class="col d-flex justify-content-center">
          <div class="justify-content-center m-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ activity.activity_name }}</h5>
              <div class="card-text">
                <p>Age Group: {{ activity.activity_age }}</p>
                <p>Developmental Area: {{ activity.activity_developmental }}</p>
                <p>Activity Type: {{ activity.activity_type }}</p>
                <p>Occasion: {{ activity.occasion }}</p>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Description:
                    </button>
                    <p class="dropdown-item-text">{{ activity.activity_description }}</p>
                  </div>
              </div>
              <a href="#" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
        </div></div>

        {% endfor %}

        </div>



{% endblock %}