{% extends "base.html" %}
{% block content %}

<div class="container-fluid w-100 text-center title-container">
  <h1 class="pg-title">Activities</h1>
</div>

<div class="container mt-0 w-100 text-center">
    {% if session.user %}
    <a class="btn add-btn btn-primary" href="{{ url_for('add_activity') }}">Add Activity</a> 
    <a class="btn add-btn btn-primary" href="{{ url_for('favourite_activities', username=session['user']) }}">My favourites</a>
    {% endif %}
    <div class="row mt-0 justify-content-center">        
        {% for activity in activities %}
        <div class="col d-flex justify-content-center">
          <div class="justify-content-center m-auto">
        <div class="activity-card">
              <div class="act-title p-2"><h4><a href="{{ url_for('full_activity', activity_id=activity.id) }}">{{ activity.activity_name }}</a></h4></div>
              <div class="activities-card-text p-2">
                <p><strong>Age Group: </strong>{{ activity.activity_age }}</p>
                <p><strong>Developmental Area: </strong>{{ activity.activity_developmental }}</p>
                <p><strong>Activity Type: </strong>{{ activity.activity_type }}</p>
                <p><strong>Occasion: </strong>{{ activity.occasion }}</p>
                <p><strong>Created by: </strong>{{ activity.activity_createdby }}</p>
                <a href="{{ url_for('full_activity', activity_id=activity.id) }}" class="btn instructions-button btn-primary"><strong>See Instructions</strong></a>
              </div>
              {% if activity.activity_createdby == session["user"] %}
              <br>
              <a href="{{ url_for('edit_activity', activity_id=activity.id) }}" class="btn btn-success card-link">Edit</a>
              <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-{{ activity.id }}">Delete</a>
              {% endif %}
              {% if session.user and activity.activity_createdby != session["user"] %}
              <br>
              {% for favourite in favourites if favourite.activity_id == activity.id %}          
                <a href="{{ url_for('remove_favourite', activity_id=activity.id) }}" class="btn btn-danger">Remove from favourites</a>    
              {% else %}
                <form method="POST" action="{{ url_for('add_favourite', activity_id=activity.id) }}"><button type="submit" class="btn btn-success card-link">Add to favourites</button></form>  
              {% endfor %}
              {% endif %}
                
          </div>
        </div></div>
        
    <!-- Bootstrap Modal-->
    <div class="modal fade" id="modal-{{ activity.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content delete-modal">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to delete this activity?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <a class="btn btn-danger" href="{{ url_for('delete_activity', activity_id=activity.id) }}">Delete</a>
            <a class="btn btn-warning" data-bs-dismiss="modal">Cancel</a>
          </div>
        </div>
      </div>
    </div>

        {% endfor %}

        </div>



{% endblock %}