{% extends "base.html" %}
{% block content %}

<div class="container-fluid w-100 text-center title-container">
  <h1 class="pg-title">{{ age.age_group }}</h1>
</div>
<div class="d-flex justify-content-center m-0">
<button class="btn dropdown-toggle add-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Learn more
</button></div>
<div class="collapse" id="collapseExample">
  <div class="container-fluid mt-1">
    <div class="age-text row">
    <div class="col-4"><img class="byage-img" src="{{ age.age_img }}"></div>
    <div class="col-8"><p>{{ age.age_description }}</p></div>
    </div></div>

</div>
<div class="container mt-0 w-100 text-center">    
    <div class="row mt-3 justify-content-center">        
        {% for activity in activities if activity.activity_age == age.age_group %}         
            <div class="col d-flex justify-content-center">
              <div class="justify-content-center m-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ activity.activity_name }}</h5>
                  <div class="card-text">
                    <p>Age Group: {{ activity.activity_age }}</p>
                    <p>Developmental Area: {{ activity.activity_developmental }}</p>
                    <p>Activity Type: {{ activity.activity_type }}</p>
                    <p>Occasion: {{ activity.occasion }}</p>
                    <p><strong>Created by: </strong>{{ activity.activity_createdby }}</p>
                    <a href="{{ url_for('full_activity', activity_id=activity.id) }}" class="btn instructions-button btn-primary"><strong>See Instructions</strong></a>
                  </div>
                  {% if activity.activity_createdby == session["user"] %}
                  <br>
                  <a href="{{ url_for('edit_activity', activity_id=activity.id) }}" class="btn btn-success card-link">Edit</a>
                  <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-{{ activity.id }}">Delete</a>
                {% endif %}
              </div>
            </div>
          </div></div>
        {% endfor %}
        </div>




{% endblock %}