{% extends "base.html" %}
{% block content %}

<div class="container-fluid w-100 text-center title-container">
    <h1 class="pg-title">Add Activity</h1>
</div>
<div class="container mt-0 w-100 text-center">
<!-- Bootstrap Form -->
<div class="container m-4">
    <form class="col s12" method="POST" name="activity-form" action="{{ url_for('add_activity') }}">
    <div class="mb-3 form-floating">
        <input id="activity_name" name="activity_name" minlength="3" maxlength="25" type="text" class="validate form-control" required>
        <label for="activity_name" class="form-label">Activity Name</label>
    </div>
    <div class="mb-3">
        <select class="form-select"  id="activity_age" name="activity_age" aria-label="Age Group" required>
            <option value="" selected>Age Group</option>
            <option value="12 months">>12 months</option>
            <option value="12-18 Months">12-18 Months</option>
            <option value="18-24 Months">18-24 Months</option>
            <option value="2-3 Years">2-3 Years</option>
            <option value="3-5 Years">3-5 Years</option>
            <option value="5-7 Years">5-7 Years</option>
            <option value="7-11 Years">7-11 Years</option>
            <option value="11+ Years">11+ Years</option>
        </select>
    </div>
    <div class="mb-3">
        <select class="form-select"  id="activity_developmental" name="activity_developmental" aria-label="Developmental type" required>
            <option value="" selected>Developmental Area</option>
            <option value="Social">Social</option>
            <option value="Fine Motor">Fine Motor</option>
            <option value="Gross Motor">Gross Motor</option>
            <option value="Intellectual">Intellectual</option>
            <option value="Communication and Language">Communication and Language</option>
            <option value="Emotional">Emotional</option>
        </select>
    </div>
    <div class="mb-3">
        <select class="form-select" id="activity_type" name="activity_type" aria-label="Activity Type" required>
            <option value="" selected>Activity Type</option>
            <option value="Physical">Physical</option>
            <option value="Construction">Construction</option>
            <option value="Roleplay and Pretence">Roleplay and Pretence</option>
            <option value="Arts and Crafts">Arts and Crafts</option>
            <option value="Games with Rules">Games with Rules</option>
            <option value="Tuff Trays">Tuff Trays</option>
            <option value="Sensory">Sensory</option>
            <option value="Nature and Outdoors">Nature and Outdoors</option>
        </select>
    </div>
    <div class="mb-3">
        <select class="form-select" id="occasion_id" name="occasion_id" aria-label="Occcasion" required>
            <option value="" selected>Occcasion</option>
            {% for occasion in occasions %}
            <option value="{{ occasion.id }}">{{ occasion.occasion_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <textarea id="activity_description" name="activity_description" rows="5" type="text" class="validate form-control" required>Instructions</textarea>
        </div>
      <div class="col-auto">
        <button type="submit" class="btn mb-3 add-btn"><i class="fa-solid fa-plus"></i> Add Activity</button>
      </div>
    </form>
</div>



{% endblock %}