{% extends "base.html" %}
{% block content %}

<div class="container-fluid w-100 text-center title-container">
    <h1 class="pg-title">Edit Occasion</h1>
</div>
<div class="container mt-0 text-center">  
<!-- Bootstrap Form -->
<div class="container m-auto">
    <form class="col s12 form" method="POST" action="{{ url_for('edit_occasion', occasion_id=occasion.id) }}">
    <div class="mb-3 form-floating">
        <input id="occasion_name" name="occasion_name" value="{{ occasion.occasion_name }}" minlength="3" maxlength="50" type="text" class="validate form-control" required>
        <label for="occasion_name" class="form-label">Occasion Name</label>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn mb-3 add-btn"><i class="fa-solid fa-pen-to-square"></i> Edit Name</button>
      </div>
    </form>
</div>



{% endblock %}