{% extends "base.html" %}
{% block content %}
  <div class="container-fluid w-100 text-center title-container">
    <h1 class="pg-title">My favourites</h1>
  </div>
  <div class="container mt-0 text-center">
    <a href="{{ url_for('profile', username=session['user']) }}" class="btn unfav-btn">My Profile</a>
    <a data-bs-toggle="modal" data-bs-target="#unfavourite-all" class="btn unfav-btn">Unfavourite All</a>
    <div class="row mt-3 justify-content-center">  
      {% for favourite in favourites if favourite.username == session["user"] %}
            {% for activity in activities if favourite.activity_id == activity.id %}          
            <div class="col d-flex justify-content-center">
              <div class="justify-content-center m-auto">
                <div class="activity-card">
                  <div class="act-title p-2"><h4><a href="{{ url_for('full_activity', activity_id=activity.id) }}">{{ activity.activity_name }}</a></h4></div>
                  <div class="activities-card-text p-2">
                    <p>Age Group: {{ activity.activity_age }}</p>
                    <p>Developmental Area: {{ activity.activity_developmental }}</p>
                    <p>Activity Type: {{ activity.activity_type }}</p>
                    <p>Occasion: {{ activity.occasion }}</p>
                    <p><strong>Created by: </strong>{{ activity.activity_createdby }}</p>
                    <a href="{{ url_for('full_activity', activity_id=activity.id) }}" class="btn instructions-button btn-primary"><strong>See Instructions</strong></a>
                    <br><br>
                    {% if favourite.activity_id == activity.id %}          
                    <a href="{{ url_for('remove_favourite', activity_id=activity.id) }}" class="btn btn-danger">Remove from favourites</a>    
                    {% endif %}
                  </div>
              </div>
            </div>
          </div>
           {% endfor %}        
          {% endfor %}
        </div>

    <!-- Bootstrap Modal-->
    <div class="modal fade" id="unfavourite-all" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered text-center">
        <div class="modal-content delete-modal">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to do this?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <a class="btn btn-danger" href="{{ url_for('unfavourite_all', username=session['user']) }}">Unfavourite All</a>
            <a class="btn btn-warning" data-bs-dismiss="modal">Cancel</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}