{% extends "base.html" %}
{% block content %}

<div class="container-fluid justify-content-center text-center">
    <div class="">
        <h1>{{ activity.activity_name }}</h1>
        <h3>Age Group: {{ activity.activity_age }}</h3>
        <h3>Developmental Area: {{ activity.activity_developmental }}</h3>
        <h3>Activity Type: {{ activity.activity_type }}</h3>
        <h3>Occasion: {{ activity.occasion }}</h3>
        <h3>Instructions: {{ activity.activity_description }}</h3>
    </div>
</div>


{% endblock %}