{% extends "base.html" %}
{% block content %}

<div class="container-fluid w-100 text-center title-container">
  <h1 class="pg-title">Occasions</h1>
</div>
<div class="container mt-0 w-100 text-center">    
    {% if session.user %}
    <a class="btn add-btn btn-primary" href="{{ url_for('add_occasion') }}">Add Occasion</a>
    {% endif %}
    <div class="row mt-3 justify-content-center">        
        {% for occasion in occasions %}
        <div class="col d-flex justify-content-center">
          <div class="justify-content-center m-auto">
            <a href="{{ url_for('activities_by_occasion', occasion_id=occasion.id) }}" class="occasion-name">
        <div class="card occasion-card m-2 d-flex align-items-center">
            <div class="card-body text-center m-3 align-items-center">
              <h2 class="card-title">{{ occasion.occasion_name }}</h2>
              {% if occasion.occasion_createdby == session["user"] %}
              <a href="{{ url_for('edit_occasion', occasion_id=occasion.id) }}" class="btn btn-success">Edit</a>
              <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-{{ occasion.id }}">Delete</a>
              {% endif %}
            </div>
        </div></a>
        </div></div>

    <!-- Bootstrap Modal-->
    <div class="modal fade" id="modal-{{ occasion.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content delete-modal">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure you want to delete this occasion?</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <a class="btn btn-danger" href="{{ url_for('delete_occasion', occasion_id=occasion.id) }}">Delete</a>
              <a class="btn btn-warning" data-bs-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
</div>

{% endblock %}