{% extends "base.html" %}
{% block content %}

<div class="container user-form p-3">
  <h1 class="text-center">Register</h1>
    <form method="POST" action="{{ url_for('register') }}">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="username" required>       
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" name="password" class="form-control" aria-describedby="password" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,20}$"  required>
      <div id="passwordBlock" class="form-text">
        Your password must be 8-20 characters long, contain letters and at least one number, and must not contain spaces or special characters.
      </div>
<label for="confirm-password" class="form-label">Confirm password</label>
<input type="password" id="confirm-password" name="confirm_password" class="form-control" aria-describedby="confirm-password" required>
<div id="confirm-passwordBlock" class="form-text">
</div>
      <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
    <p class="text-center">Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
</div>



{% endblock %}