/* NAVIGATION BAR */

#logo {
    font-family: 'Kablammo', cursive;
    color: #FF9D2E;
    font-size: xx-large;
    text-shadow: rgb(255, 255, 139) 2px 0px 0px, rgb(255, 255, 139) 1.75517px 0.958851px 0px, rgb(255, 255, 139) 1.0806px 1.68294px 0px, rgb(255, 255, 139) 0.141474px 1.99499px 0px, rgb(255, 255, 139) -0.832294px 1.81859px 0px, rgb(255, 255, 139) -1.60229px 1.19694px 0px, rgb(255, 255, 139) -1.97998px 0.28224px 0px, rgb(255, 255, 139) -1.87291px -0.701566px 0px, rgb(255, 255, 139) -1.30729px -1.5136px 0px, rgb(255, 255, 139) -0.421592px -1.95506px 0px, rgb(255, 255, 139) 0.567324px -1.91785px 0px, rgb(255, 255, 139) 1.41734px -1.41108px 0px, rgb(255, 255, 139) 1.92034px -0.558831px 0px;

}

#logo:hover {
    transform: scale(1.04);
}

.nav-link {
    font-family: 'Chewy', cursive;
    color: #FF9D2E;
    font-size: large;
}

.nav-link:hover {
    color: rgb(255, 255, 139);
}

nav {
    background-color: #13245D;
}

.navbar-toggler {
    color: #FF9D2E;
}

.nav-toggler-icon {
    color: #FF9D2E;
}

/* FOOTER */
footer {
    background-color: #13245D;
    color: #FF9D2E;
    font-family: 'Chewy', cursive;
}

.footer-links a {
    color: #FF9D2E;
}

.footer-links a:hover {
    color: rgb(255, 255, 139);
}

/* MAIN BODY */

body {
    background-color: #96B0CB;
}


.required-field {
    color: red;
    font-size: xx-small;
}

/* OCCASIONS Pge */
.occasion-card {
    width: 15rem;
    height: 10rem;
    background-color: #FF9D2E;
    color: #13245D;
    border: 2px solid #13245D;
    font-family: 'Chewy', cursive;
}

.pg-title {
    font-family: 'Kablammo', cursive;
    font-size: calc(50px + 0.390625vw);
    color: #13245D;
}

.add-btn {
    background-color: rgb(255, 255, 139);
    color: #13245D;
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    font-size: x-large;
    border: 2px solid #13245D;
    width: fit-content;
}

.add-btn:hover {
    color: rgb(255, 255, 139);
    background-color: #13245D;
    border: 2px solid rgb(255, 255, 139);
}

.form {
    width: 80%;
    margin: auto;
}

.delete-modal {
    background-color: rgb(255, 255, 139);
    color: #13245D;
    font-family: 'Chewy', cursive;
}

/* Activities Page */

.activity-card {
    width: 15rem;
    height: 25rem;
    margin-top: 2rem;
    border: 2px solid #13245D;
    font-family: 'Varela Round', sans-serif;
    color: #13245D;
    background-color: #f5c895;
}

.activity-card h4 a {
    font-family: 'Chewy', cursive;
    text-decoration: none;
    color: #13245D;
}

.instructions-button {
    background-color: #13245D;
    color: #f5c895;
    border: 1px solid #13245D;
}

.instructions-button:hover {
    background-color: #f5c895;
    color: #13245D;
    border: 1px solid #13245D;
}

