/* NAVIGATION BAR */

#logo {
    font-family: 'Kablammo', cursive;
    color: #FF9D2E;
    font-size: xx-large;
    text-shadow: rgb(255, 255, 139) 2px 0px 0px, rgb(255, 255, 139) 1.75517px 0.958851px 0px, rgb(255, 255, 139) 1.0806px 1.68294px 0px, rgb(255, 255, 139) 0.141474px 1.99499px 0px, rgb(255, 255, 139) -0.832294px 1.81859px 0px, rgb(255, 255, 139) -1.60229px 1.19694px 0px, rgb(255, 255, 139) -1.97998px 0.28224px 0px, rgb(255, 255, 139) -1.87291px -0.701566px 0px, rgb(255, 255, 139) -1.30729px -1.5136px 0px, rgb(255, 255, 139) -0.421592px -1.95506px 0px, rgb(255, 255, 139) 0.567324px -1.91785px 0px, rgb(255, 255, 139) 1.41734px -1.41108px 0px, rgb(255, 255, 139) 1.92034px -0.558831px 0px;

}

#logo:hover {
    transform: scale(1.04);
}

.nav-link {
    font-family: 'Chewy', cursive;
    color: #FF9D2E;
    font-size: large;
}

.nav-link:hover {
    color: rgb(255, 255, 139);
}

nav {
    background-color: #13245D;
}

.navbar-toggler {
    color: #FF9D2E;
}

.nav-toggler-icon {
    color: #FF9D2E;
}

/* FOOTER */
footer {
    background-color: #13245D;
    color: #FF9D2E;
    font-family: 'Chewy', cursive;
    position: absolute;
    bottom: 0;
}

.footer-links a {
    color: #FF9D2E;
}

.footer-links a:hover {
    color: rgb(255, 255, 139);
}

/* MAIN BODY */

body {
    background-color: #96B0CB;
    max-width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh; 
    margin: 0 auto;
}

#content-container {
    padding-bottom: 2rem;
    margin: 0 auto;
}

#flash-msgs {
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
    height: 30px;
    margin: 0 auto;
    background-color: #ffff8b;
}

.header-image {
    background-color: #FF9D2E;
}

.header-image img {
    max-width: 100%;
}

.pg-title {
    font-family: 'Kablammo', cursive;
    font-size: calc(50px + 0.390625vw);
    color: #FF9D2E;
    background-color: #13245D;
    text-shadow: rgb(255, 255, 139) 2px 0px 0px, rgb(255, 255, 139) 1.75517px 0.958851px 0px, rgb(255, 255, 139) 1.0806px 1.68294px 0px, rgb(255, 255, 139) 0.141474px 1.99499px 0px, rgb(255, 255, 139) -0.832294px 1.81859px 0px, rgb(255, 255, 139) -1.60229px 1.19694px 0px, rgb(255, 255, 139) -1.97998px 0.28224px 0px, rgb(255, 255, 139) -1.87291px -0.701566px 0px, rgb(255, 255, 139) -1.30729px -1.5136px 0px, rgb(255, 255, 139) -0.421592px -1.95506px 0px, rgb(255, 255, 139) 0.567324px -1.91785px 0px, rgb(255, 255, 139) 1.41734px -1.41108px 0px, rgb(255, 255, 139) 1.92034px -0.558831px 0px;
    text-transform: capitalize;
}

/* Index Page */

.hero-container img {
    width: 100%
}

/* OCCASIONS Pge */
.occasion-card {
    width: 13rem;
    height: 7rem;
    background-color: #FF9D2E;
    border: 3px solid #13245D;
    font-family: 'Varela Round', sans-serif;
    border-radius: 25px;
}

.occasion {
    text-decoration: none;
    color: #13245D;    
}

.occasion:hover {
    color: rgb(255, 255, 139);
}

.title-container {
    background-color: #13245D;
    width: 100%;
    margin-bottom: 1%;
}

.add-btn {
    color: rgb(255, 255, 139);
    background-color: #13245D;
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
    border: 2px solid #13245D;
    width: fit-content;
}

.add-btn:hover {
    border: 2px solid #13245D;
    background-color: rgb(255, 255, 139);
    color: #13245D;
}

.form {
    width: 80%;
    margin: auto;
}

.delete-modal {
    background-color: #c5def9;
    color: #13245D;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

/* Activities Page */

.activity-card {
    width: 20rem;
    min-height: 25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 2px solid #13245D;
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    color: #13245D;
    background-color: #ffffda;
    overflow: hidden;
}

.activity-card p {
    text-align: start;
}

.act-title {
    background-color: #13245D;
}

.act-title h4:hover {
    transform: scale(1.1);
}

.activity-card h4 a {
    text-decoration: none;
    color: #ffff8b;
    background-color: #13245D;
}

.instructions-button {
    background-color: #13245D;
    color: #ffff8b !important;
    border: 1px solid #13245D;
}

.instructions-button:hover {
    background-color: #ffff8b;
    color: #13245D !important;
    border: 1px solid #13245D;
}

/* Full Activity Page */

.full-activity {
    width: 60%;
    margin: auto;
    background-color: #f5c895;
    border: 3px solid #13245D;
    font-family: 'Varela Round', sans-serif;
    color: #13245D;
    text-align: start;
}

.full-activity h1 {
    text-align: center;
    font-family: 'Chewy', cursive;
}

/* Age Groups Page */

.age-group {
    background-color: #FF9D2E;
    width: 200px;
    height: 200px;
    margin: 2%;
    padding: 1%;
}

.age-group:hover {
    transform: scale(1.1);  
  }
  

.age-img {
    width: 100%; 
} 

.age-container {
  position: relative;
  text-align: center;
}

.age-group-name {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: 'Varela Round', sans-serif;
  color: #13245D;
  background-color: rgba(255, 157, 46, 0.6)
} 

.age-text {
    background-color: #c5def9;
    height: 15rem;
    border: 5px solid #13245D;
}

.byage-img {
    height: 14.4rem;
    margin: 0;
}

/* Profile Page */

.profile-name {
    text-transform: capitalize;
    color: #96B0CB;
    }

.user-profile {
    background-color: #13245D;
    font-family: 'Varela Round', sans-serif;
}

.user-profile a {
    text-decoration: none;
    color: inherit;
}

.profile-btn {
    background-color: #96B0CB;
    color: #13245D !important;
}

.profile-btn:hover {
    background-color: #13245D;
    color: #96B0CB !important;
}

/* Register and Login Pages */

.user-form {
    border: 3px solid #13245D;
    background-color: #c5def9;
    margin-top: 5%;
    font-family: 'Varela Round', sans-serif;
}
    

.user-form form {
    width: 50%;
    margin: 0 auto;
}

.user-form h1 {
    font-family: 'Kablammo', cursive;
    color: #13245D;
    font-size: calc(50px + 0.390625vw);
}

/* Favourites Page */

.unfav-btn:hover {
    background-color: #96B0CB;
    color: #13245D !important;
    border: solid 2px #13245D;
}

.unfav-btn {
    background-color: #13245D;
    color: #96B0CB !important;
}